<footer>
  <div class="container footer-container">
    <nav class="footer-nav" aria-label="フッターナビゲーション">
      <ul>
        <li><a href="{{ '/about-us/' | relative_url }}">ABOUT US</a></li>
        <li><a href="{{ '/members/' | relative_url }}">MEMBERS</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">CONTACT</a></li>
        <li><a href="{{ '/article-list/' | relative_url }}">ARTICLES</a></li>
      </ul>
    </nav>
    <p>© {{ site.time | date: "%Y" }} {{ site.title | escape }} | All Rights Reserved.</p>
  </div>
</footer>
