<header  class="site-header">
  <div class="header-container">
    <div class="site-title">
      <a href="{{ '/home/' | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <nav  class="site-nav">
      <ul>
        <li><a href="{{ '/about-us/' | relative_url }}">ABOUT US</a></li>
        <!-- <li><a href="{{ '/join-us/' | relative_url }}">コミュニティに参加</a></li> -->
        <li><a href="{{ '/contact/' | relative_url }}">CONTACT</a></li>
        <li><a href="{{ '/article-list/' | relative_url }}">記事一覧</a></li>
      </ul>
    </nav>
  </div>
</header>