<header  class="site-header">
  <div class="header-container">
    <div class="site-title">
      <a href="{{ '/home/' | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <nav  class="site-nav">
      <ul>
        <li><a href="{{ '/home/' | relative_url }}">ABOUT US</a></li>
        <li><a href="{{ '/activities/' | relative_url }}">活動内容</a></li>
        <li><a href="{{ '/members/' | relative_url }}">メンバー</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">連絡先</a></li>
      </ul>
    </nav>
  </div>
</header>