/* 全体の基本スタイル */
// body {
//     font-family: $base-font-family;
//     background-color: $body-bg-color;
//     color: $body-text-color;
//     margin: 0;
//     padding: 0;
// }
.post-meta{
    text-align: center;
}

.post-tags {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    margin-top: 0.5rem; /* dateとauthorとの間隔 */
    text-align: center;
    .tag {
        background-color: $tag-bg-color;
        color: $tag-text-color;
        padding: 0.25rem 0.5rem;
        border-radius: $tag-border-radius;
        font-size: 0.75rem;
        margin: $tag-margin;
    }
}


h1.post-title {
    color: #000;
    text-align: center;
  }

.post-container h2 {
    border-bottom: 1px solid $border-bottom-color;
}