<!DOCTYPE html>
<html lang="ja">
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}

  <main>
    <div class="article-content">
      <div class="main-content">
        {{ content }}
      </div>
      <div class="sub-content">
        <div class="article-meta">
          <p>著者: {{ page.author }}</p>
          <div>
            {% for tag in page.tags %}
              <div class="tag">{{ tag }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="table-of-content" id="toc">
        </div>
      </div>
    </div>
  </main>

  {% include footer.html %}
  <script type="text/javascript" src="{{ '/assets/js/toc.js' | relative_url }}"></script>
</body>
</html>