<!DOCTYPE html>
<html lang="ja">
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}

  <main>
    <div class="container">
      <!-- 記事一覧のコンテンツ -->
      <div class="post-list-cards">
        {% for post in site.posts %}
          <a href="{{ post.url | relative_url }}" class="post-card">
            <!-- 記事のタイトルやメタ情報など -->
          </a>
        {% endfor %}
      </div>

      <!-- タグのフィルタリングボタン -->
      <div class="tag-filters">
        <a href="#" class="tag-filter" data-tag="all">All</a>
        {% for tag in site.tags %}
          <a href="#" class="tag-filter" data-tag="{{ tag[0] }}">{{ tag[0] }}</a>
        {% endfor %}
      </div>
    </div>
  </main>

  {% include footer.html %}
</body>
</html>